.jumbotron {
    margin-top: 1px;
    background-image: url("../images/LOZ.jpg");
    background-size: cover;
}

.card-header1 {
    margin-top: 1px;
    background-image: url("../images/triforce.jpg");
    background-size: contain;
}